<div class="container">
  <%= simple_form_for @cocktail do |f| %>
    <div class="row ">
      <div class="col-sm">
        <div>
          <%= f.input :name %>
        </div>
        <div>
          <%= f.button :submit, class: 'btn btn-danger' %>
        </div>
      </div>
    </div>
  <% end %>
</div>
<div class="container ">
  <div class="cards">
    <% @cocktails.each do |cocktail| %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://source.unsplash.com/1600x900/?cocktail)">
        <%= link_to cocktail.name, cocktail_path(cocktail) %>
      </div>
    <% end %>
  </div>
</div>

